:root {
  --text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --secondary-color: #ffffff;
  --color-icon: #afb1b8;
  --background-color: #f5f4fa;
  --transition-time: 250ms;
  --transition-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@-webkit-keyframes currentBorder {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes currentBorder {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
h1,
h2,
h3,
h4,
h5,
h5,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-list .current {
  color: var(--accent-color);
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  margin: -1px;
  background-color: var(--accent-color);
  border-radius: 2px;
  -webkit-animation: currentBorder var(--transition-time) var(--transition-function);
          animation: currentBorder var(--transition-time) var(--transition-function);
}

.header {
  background: var(--secondary-color);
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  align-items: center;
}

.header-item-link {
  position: relative;
}

.header-container .link {
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-list .item + .item {
  margin-left: 50px;
}

.header-contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-contacts .item + .item {
  margin-left: 50px;
}

.logo-link {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 93px;
}

.logo-link span {
  color: var(--accent-color);
}

.header-item-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  display: block;
  transition: color var(--transition-time) var(--transition-function);
}

.header-item-link:hover,
.header-item-link:focus {
  color: var(--accent-color);
}

.header-item-mail,
.header-item-tel {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  transition: color var(--transition-time) var(--transition-function);
}

.icon-header-contats {
  margin-right: 10px;
  fill: currentColor;
  transition: fill var(--transition-time) var(--transition-function);
}

.header-item-mail:hover,
.header-item-mail:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.header-item-tel:hover,
.header-item-tel:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.footer {
  padding: 60px 0;
  background-color: #2f303a;
}

.footer-addres {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  display: block;
  margin-bottom: 20px;
}

.footer-logo span {
  color: var(--accent-color);
}

.footer-text {
  margin-bottom: 9px;
  line-height: 1.71;
  font-style: normal;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.footer-mail,
.footer-tel {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--transition-time) var(--transition-function);
}

.footer-mail {
  display: block;
  margin-bottom: 9px;
}

.footer-mail:hover,
.footer-mail:focus {
  color: var(--accent-color);
}

.footer-tel:hover,
.footer-tel:focus {
  color: var(--accent-color);
}

.footer-text-links {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-color);
}

.footer-soc-list {
  display: flex;
  gap: 10px;
}

.item-soc-list {
  width: 44px;
  height: 44px;
}

.footer-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--transition-time) var(--transition-function);
}

.icon-footer-link {
  fill: var(--secondary-color);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--accent-color);
}

.form-subscribe-wrap {
  display: flex;
}

.form-subscribe input {
  width: 358px;
  margin-right: 12px;
  padding: 15px 16px;
  color: var(--secondary-color);
  background-color: #2f303a;
  outline: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.icon-send {
  margin-left: 10px;
  fill: var(--secondary-color);
}

.form-subscribe::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form-subscribe:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form-subscribe::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form-subscribe-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 200px;
  border-radius: 4px;
  border-color: transparent;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero {
  height: 600px;
  max-width: 1600px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero.jpg");
  background-color: #2f303a;
}

.hero-elements {
  padding: 200px 0px;
}

.hero-title {
  max-width: 650px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-color);
}

.hero-btn {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 216px;
  margin: 0 auto;
  border-radius: 4px;
  border-color: transparent;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--transition-time) var(--transition-function);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
}

.icons {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  border-radius: 4px;
}

.features-list {
  display: flex;
  gap: 30px;
}

.features-title {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.features-text {
  width: 270px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.services {
  padding-bottom: 94px;
  background: var(--secondary-color);
}

.services-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.services-list {
  display: flex;
  gap: 30px;
}

.services-list .item {
  width: calc((100% - 60px) / 3);
}

.thumb-services {
  position: relative;
}

.text-top {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 27px 0;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background: var(--background-color);
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-list .item {
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: #ffffff;
}

.team-description {
  padding: 30px;
}

.team-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team-title-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team-text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.team-soc-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.item-soc-list {
  width: 44px;
  height: 44px;
}

.team-soc-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--color-icon);
  transition: background-color var(--transition-time) var(--transition-function), color var(--transition-time) var(--transition-function);
}

.icon-link {
  fill: currentColor;
}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--accent-color);
  color: var(--secondary-color);
}

.title-customers {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.list-coustomers {
  display: flex;
  gap: 30px;
}

.item-coustomers {
  width: calc((100% - 150px) / 6);
  height: 92px;
}

.coustomers-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-icon);
  border-radius: 4px;
  color: var(--color-icon);
  transition: border-color var(--transition-time) var(--transition-function), color var(--transition-time) var(--transition-function);
}

.icon-coustomers-link {
  fill: currentColor;
}

.coustomers-link:hover,
.coustomers-link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}/*# sourceMappingURL=main.css.map */