.header {
  background: var(--secondary-color);
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  align-items: center;
}

.header-item-link {
  position: relative;
}

.header-container .link {
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-list .item + .item {
  margin-left: 50px;
}
.header-contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-contacts .item + .item {
  margin-left: 50px;
}

.logo-link {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 93px;
}

.logo-link span {
  color: var(--accent-color);
}

.header-item-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);

  display: block;
  transition: color var(--transition-time) var(--transition-function);
}

.header-item-link:hover,
.header-item-link:focus {
  color: var(--accent-color);
}

.header-item-mail,
.header-item-tel {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);

  transition: color var(--transition-time) var(--transition-function);
}

.icon-header-contats {
  margin-right: 10px;
  fill: currentColor;
  transition: fill var(--transition-time) var(--transition-function);
}

.header-item-mail:hover,
.header-item-mail:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.header-item-tel:hover,
.header-item-tel:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

.current::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: -1px;

  display: block;
  width: 100%;
  height: 4px;
  margin: -1px;
  background-color: var(--accent-color);
  border-radius: 2px;
  animation: currentBorder var(--transition-time) var(--transition-function);
}