.footer {
  padding: 60px 0;
  background-color: #2f303a;
}

.footer-addres {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-color);

  display: block;
  margin-bottom: 20px;
}

.footer-logo span {
  color: var(--accent-color);
}

.footer-text {
  margin-bottom: 9px;

  line-height: 1.71;
  font-style: normal;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.footer-mail,
.footer-tel {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--transition-time) var(--transition-function);
}
.footer-mail {
  display: block;
  margin-bottom: 9px;
}

.footer-mail:hover,
.footer-mail:focus {
  color: var(--accent-color);
}

.footer-tel:hover,
.footer-tel:focus {
  color: var(--accent-color);
}

.footer-text-links {
  margin-bottom: 20px;

  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-color);
}

.footer-soc-list {
  display: flex;
  gap: 10px;
}

.item-soc-list {
  width: 44px;
  height: 44px;
}

.footer-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--transition-time) var(--transition-function);
}

.icon-footer-link {
  fill: var(--secondary-color);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--accent-color);
}

.form-subscribe-wrap {
  display: flex;
}

.form-subscribe input {
  width: 358px;
  margin-right: 12px;
  padding: 15px 16px;
  color: var(--secondary-color);
  background-color: #2f303a;
  outline: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.icon-send {
  margin-left: 10px;
  fill: var(--secondary-color);
}

.form-subscribe::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.form-subscribe-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 200px;
  border-radius: 4px;
  border-color: transparent;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}